<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Demo</title>
    <style>
        main {
            max-width: 1000px;
            margin: 0 auto;
        }

        h3 {
            text-align: center;
            margin-bottom: 70px;
        }

        .d-flex {
            display: flex;
            justify-content: space-between;
        }

        .package {
            height: 30px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #selectedPackage {
            text-align: center;
            margin-bottom: 50px;
            font-weight: bold;
        }

        #checkout {
            margin-top: 70px;
            text-align: center;
        }
    </style>
</head>

<body>
    <main>
        <h3>Welcome to my Stripe Node.js Demo, Let's Go!</h3>
        Payment Succeeded!
    </main>

    <!-- <script src="scripts/main.js"></script> -->
</body>

</html>